# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
resources:
 repositories:
   - repository: myrepo
     endpoint: 'github connection 1'
     name:  neha9700199/maven-unit-and-integration-tests 
trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: none
  - bash: |
      AGENT_IP=$(curl -s https://ipinfo.io/json | jq -r .ip)
      echo $AGENT_IP